@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&family=Kanit:wght@300&display=swap');

body {
    margin: 0;
}

main {
    font-size: 1.5rem;
    margin-inline: auto;
    width: min(60ch, 100%);
}

header {
    background-color: #6ABE45;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    font-family: 'Barlow Condensed', sans-serif;
}

.produto a {
    text-decoration: none;
    color: black;
}

.link {
    list-style: none;
    display: inline;
    margin: 0 10px;
}

.link a {
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif;
}

.link a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

.link a:hover::before {
    width: 100%;
}


main h2 {
    text-align: center;
    animation: appear 1s;
    font-family: 'Barlow Condensed', sans-serif;
    
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
}

h2 {
    font-family: 'Barlow Condensed', sans-serif;
}


p {
    animation: appear 1s;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    
}

img {
    max-width: 800px;
    animation: appear 1s;
}





label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

.botao {
    padding: 10px 20px;
    background-color: rgb(150, 52, 52);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.botao:hover {
    background-color: #6ABE45;
}



@keyframes appear {
    from {
        opacity: 0;
        translate: -100vw;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

